<ion-header>
  <ion-toolbar>
    <ion-title>course</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-progress-bar value="0.10" ></ion-progress-bar>

<ion-card>
 

  <ion-item>
    <ion-progress-bar value="0.10" ></ion-progress-bar>
  </ion-item>
</ion-card>

<ion-segment (ionChange)="segmentChanged($event)" color="primary " mode="md">
  <ion-segment-button value="friends">
    <ion-label>Friends</ion-label>
  </ion-segment-button>
  <ion-segment-button value="enemies">
    <ion-label>Enemies</ion-label>
  </ion-segment-button>
</ion-segment>

</ion-content>
