<ion-header>
  <ion-toolbar>
    <ion-title>course</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-progress-bar value="0.10" ></ion-progress-bar>

<ion-card>
 <ion-card-header>
    <ion-card-subtitle>you are here</ion-card-subtitle>
    <ion-card-title>lEVEL 1</ion-card-title>
  </ion-card-header>

  <ion-item>
    <ion-progress-bar value="0.10" ></ion-progress-bar>
  </ion-item>

<ion-card-content>
    <ion-segment (ionChange)="segmentChanged($event)" color="primary " mode="md">
  <ion-segment-button value="seg1">
    <ion-label>content</ion-label>
  </ion-segment-button>
  <ion-segment-button value="seg2">
    <ion-label>Recourses</ion-label>
  </ion-segment-button>

<ion-segment-button value="seg3">
    <ion-label>Discussion</ion-label>
  </ion-segment-button>

</ion-segment> 
<div *ngIf= " seg1 ">
contenet
</div>

<div *ngIf= " seg2 " >
Recourses 
</div>

<div *ngIf= " seg3 " >
Discussions
</div>

</ion-card-content>

</ion-card>


</ion-content>
