<ion-header>
  <ion-toolbar>
    <ion-title>course</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-progress-bar value="0.25" ></ion-progress-bar>

<ion-card>
 

  <ion-item>
    <ion-range min="1000" max="2000" value="1400" step="100" snaps="true" color="secondary"></ion-range>
  </ion-item></ion-card>

<ion-segment (ionChange)="segmentChanged($event)">
  <ion-segment-button value="friends">
    <ion-label>Friends</ion-label>
  </ion-segment-button>
  <ion-segment-button value="enemies">
    <ion-label>Enemies</ion-label>
  </ion-segment-button>
</ion-segment>

</ion-content>
